package generate

import "dreampicai/view/layout"

templ Index() {
	@layout.App(true) {
		<div class="flex w-full h-[calc(100vh-69px)]">
			<div class="w-1/4 border-r border-app"></div>
			<div class="w-3/4 bg-base-300 "></div>
		</div>
	}
}
