package home

import "dreampicai/view/layout"

templ Index() {
	@layout.App(true) {
		<div class="w-full max-w-screen-xl mx-auto text-center py-12">
			<h1 class="text-5xl font-black leading-[1.2] mb-2">
				hello from the home page senior!!
			</h1>
			<h2 class="text-xl font-semibold mb-6">This is some amazing AI application!</h2>
			<a href="/generate" class="btn btn-primary">Generate images now <i class="fa-solid fa-arrow-right"></i></a>
		</div>
	}
}
